<?xml version="1.0" encoding="utf-8"?>
<!--
  From: https://learn.microsoft.com/en-us/nuget/concepts/security-best-practices#nuget-configuration

  - <clear /> elements prevent inheritance of user/machine-level configurations
  - Explicit package sources prevent dependency confusion attacks
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
