@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="govuk-heading-xl">Welcome to DfE CMS Admin</h1>

<p class="govuk-body-l">
    This is the content management system administration interface.
</p>

<p class="govuk-body">
    Use this interface to manage content, create and edit pages, and configure the CMS.
</p>

<div class="govuk-inset-text">
    This is a basic implementation with Gov.UK Frontend styling. DfE Frontend customisations will be added in the next iteration.
</div>
