@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="govuk-heading-xl">Welcome to DfE Service</h1>

<p class="govuk-body-l">
    This service provides guidance and support for educational organisations.
</p>

<p class="govuk-body">
    This is the public-facing application that uses the CMS functionality for content management.
</p>

<div class="govuk-inset-text">
    This is a basic implementation with Gov.UK Frontend styling. DfE Frontend customisations will be added in the next iteration.
</div>
