// Set the assets path for GOV.UK Frontend
// UseGovUkFrontend() middleware serves assets at /assets/
$govuk-assets-path: "/assets/";

// Use Helvetica or Arial instead of GDS Transport
// Services not on service.gov.uk should use alternative typefaces like Helvetica or Arial
// See: https://design-system.service.gov.uk/styles/typeface/
$govuk-font-family: Helvetica, Arial, sans-serif;
$govuk-include-font-face: false;

// Import GOV.UK Frontend - this includes all styles, components, and utilities
@import "govuk-frontend/dist/govuk/all";

// Import DfE Frontend components (after GOV.UK Frontend)
@import "dfe-frontend/packages/dfefrontend";

// Override GOV.UK width container to use DfE Frontend's width
// DfE Frontend sets this via its own styles
// Per: https://design.education.gov.uk/design-system/dfe-frontend/install
.govuk-width-container {
  @include govuk-width-container;
}

// DfE rebrand logo styling
// Per: https://design.education.gov.uk/design-system/govuk-rebrand/dfe-header-rebrand
.govuk-header__link .govuk-header__logotype {
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
  content: url(/assets/images/department-for-education_black.png);
  height: 30px;
}
